{% extends "AppBundle::app.html.twig" %}

{% block title %}AppBundle:Group:index{% endblock %}

{% block body %}
<h1>Pagina's in de groep {{ group.name }}</h1>
    Still under construction!!
{% endblock %}
