{% extends "AppBundle::app.html.twig" %}

{% block title %}Mijn suiker en ik{% endblock %}

{% block body %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <h2 class="post-title">Pagina niet gevonden</h2>
                    <h3 class="post-subtitle">
                        Er is iets verkeerd gegaan bij het ophalen van de gekozen pagina. Mogelijk is deze verplaatst
                        of de gevolgde link is verkeer. Excuses voor het ongemak!
                    </h3>
                </div>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}